<!DOCTYPE html>
<html lang="en" ng-app="superApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="superHerosController as vm">
  <section>
    <ul>
      <h1>Search HEROS</h1>
      <input type="text" ng-model="searchheros.names">
      <br>
      <hr>
      <div ng-repeat="hero in vm.heros | filter: searchheros.names" ng-class="{ 'dcColor' : hero.comics_affiliation === 'DC', 'marvelColor' : hero.comics_affiliation === 'marvel' }">
        <img ng-src="{{hero.img_url}}" ng-show="vm.viewImage[$index]"/>
        <p>super hero: {{hero.name}}</p>
        <button ng-click="vm.viewImage[$index] = !vm.viewImage[$index]">show pic</button>
        <p>Number: {{hero.phone_number}}</p>
        <p>Affiliation: {{hero.comics_affiliation}}</p>
        <br>
        <hr>
        <button ng-click="edit = true">Edit Hero</button>

        <div ng-show="edit">
          <label for="name-input">name</label>
          <input type="text" ng-model="vm.editName">
          <label for="phone_number-input">number</label>
          <input type="text" ng-model="vm.editNumber">
          <label for="affiliation-input">affiliation</label>
          <input type="text" ng-model="vm.editAffiliation">
          <label for="img-input">picture</label>
          <input type="text" ng-model="vm.editPic">
          <button ng-click="vm.editHero(hero)">Submit Changes</button>

        </div>
      </div>
    </ul>
  </section>
  <section>
    <h2>New Hero</h2>
    <label for="name-input">name</label>
    <input type="text" id="name-input" ng-model="vm.newHero">
    <label for="phone_number-input">number</label>
    <input type="text" id="phone_number-input" ng-model="vm.newNumber">
    <label for="affiliation-input">affiliation</label>
    <input type="text" id="affiliation-input" ng-model="vm.affiliation">
    <label for="img-input">picture</label>
    <input type="text" id="img-input" ng-model="vm.pic">
    <button ng-click="vm.addHero()">Add Hero!</button>
  </section>
</body>
</html>
